<header>
  <div class="container header_container">

    <h2 class="home-header"><a class="home" href="{{ site.baseurl }}/">{{ site.title }}</a></h2>

    <nav class="nav-bar">

      {% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <a class="button" href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a>
		  {% endfor %}

      <!--
      {% for page in site.pages %}
        {% if page.title %}
        <a class="button" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
      -->

    </nav>

  </div>

</header>
