<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="header-bar">
      {% include header.html %}
    </div>

    <div class="container">    
      <div class="row fixed_row">
        <div class="four columns sidebar">
          {% include footer.html %}
        </div>
      </div>
    </div>


    <div class="container body_container">    
      <div class="row">      

        <div class="four columns sidebar_filler">
        </div>

        <div class="eight columns content">
          {{ content }}
        </div>

      </div>
    </div>


  </body>

</html>
